schema/messages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="messages">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="message" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="id" type="xs:string"/>
                            <xs:element name="id_expediteur" type="xs:string"/>
                            <xs:element name="destinataire" type="xs:string" minOccurs="0"/>
                            <xs:element name="groupe_destinataire" type="xs:string" minOccurs="0"/>
                            <xs:element name="contenu" type="xs:string"/>
                            <xs:element name="fichier" type="xs:string" minOccurs="0"/>
                            <xs:element name="lus_par" type="xs:string" minOccurs="0"/>
                            <xs:element name="date_heure" type="xs:dateTime"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema> 