schema/waxtaan.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <!-- Définition des utilisateurs -->
    <xs:element name="users">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="id" type="xs:string"/>
                            <xs:element name="firstname" type="xs:string"/>
                            <xs:element name="lastname" type="xs:string"/>
                            <xs:element name="sex" type="xs:string" fixed="M" minOccurs="0"/>
                            <xs:element name="age" type="xs:positiveInteger"/>
                            <xs:element name="phone" type="xs:string">
                                <xs:pattern value="^(77|70|78|76)[0-9]{7}$"/>
                            </xs:element>
                            <xs:element name="password" type="xs:string"/>
                            <xs:element name="profile_photo" type="xs:string" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Définition des contacts -->
    <xs:element name="contacts">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="contact" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="id" type="xs:string"/>
                            <xs:element name="user_id" type="xs:string"/>
                            <xs:element name="contact_name" type="xs:string"/>
                            <xs:element name="contact_phone" type="xs:string">
                                <xs:pattern value="^(77|70|78|76)[0-9]{7}$"/>
                            </xs:element>
                            <xs:element name="contact_photo" type="xs:string" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Définition des groupes -->
    <xs:element name="groups">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="group" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="id" type="xs:string"/>
                            <xs:element name="name" type="xs:string"/>
                            <xs:element name="admin_id" type="xs:string"/>
                            <xs:element name="coadmins" type="xs:string" minOccurs="0"/>
                            <xs:element name="group_photo" type="xs:string" minOccurs="0"/>
                            <xs:element name="member_id" type="xs:string" maxOccurs="unbounded" minOccurs="2"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Définition des messages -->
    <xs:element name="messages">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="message" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="id" type="xs:string"/>
                            <xs:element name="sender_id" type="xs:string"/>
                            <xs:element name="recipient" type="xs:string" minOccurs="0"/>
                            <xs:element name="recipient_group" type="xs:string" minOccurs="0"/>
                            <xs:element name="content" type="xs:string"/>
                            <xs:element name="file" type="xs:string" minOccurs="0"/>
                        </xs:sequence>
                        <xs:attribute name="timestamp" type="xs:dateTime" use="optional"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>